body {
  min-height: 100vh;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background-color: rgba(223, 223, 223, 0.1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #333;
  text-decoration: none;
  transition: 0.5s;
}
a:hover {
  text-decoration: underline;
}

.social__link {
  transition: transform 0.5s linear;
}

.social__link:hover {
  transform: translateY(-3px);
}

.social__item {
  margin-right: 0.5rem;
}
h1 {
  padding-top: 50px;
}
.section-title {
  padding-top: 40px;
  margin: 0 15px 20px;
}
h4 {
  margin: 25px 10px 10px 30px;
}
.wrapper {
  margin-top: 20px;
  box-shadow: 1px 18px 20px 12px #bbb1b1;
}
.container {
  max-width: 907px;
}
.left-column {
  padding: 0 30px 0;
  width: 33%;
}
.bg__top {
  padding: 50px 0;
  height: 100%;
  background-color: rgba(223, 223, 223, 0.05);
}
.bg__bottom {
  height: 100%;
  background-color: rgba(223, 223, 223, 1);
}
.education .content__list {
  list-style: none;
}
.right-column {
  padding: 0 30px 0;
  width: 67%;
}
header {
  width: fit-content;
  background-color: #333;
}

.top {
  display: flex;
  color: #fff;
}
.author img {
  width: 100%;
}

.header__title {
  margin-bottom: 20px;
  font-size: 46px;
}
.prof {
  margin-bottom: 36px;
  padding: 0 10px 5px;
  width: fit-content;
  font-size: 21px;
  font-weight: 500;
  background-color: rgba(75, 75, 85, 1);
}
.my__contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  list-style: none;
  color: rgba(255, 255, 255, 0.8);
}
.my__contacts a {
  color: rgba(255, 255, 255, 0.8);
}
.my__contacts li {
  margin-right: 30px;
  margin-bottom: 12px;
  line-height: 32px;
}
.my__contacts span {
  font-weight: 700;
  color: #fff;
}

.bottom {
  display: flex;
}

.content__list {
  line-height: 28px;
}
.content__list li {
  margin: 0 25px 7px 50px;
}

.content__list span {
  font-weight: 700;
}
.content {
  margin-top: 20px;
}
section.languages {
  margin-bottom: 40px;
}
.code {
  padding: 20px;
  background-color: #f1f4f8;
}
/* Footer */
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
}
.my__github {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #fff;
}
footer .bg__top {
  padding: 20px 0;
  text-align: center;
}
.my__github p {
  padding-left: 10px;
}
.footer__img {
  margin-right: 55px;
}
